[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mapycusmaximus"]
	path = mapycusmaximus
	url = https://github.com/alex-nguyen-vn/mapycusmaximus
